@import './variables.less';

body {
  width: 100vw;
  height: 100vh;
  background-color: #0D1116;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
